@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input {
  padding: 0px;
}

.button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: #272727;
  letter-spacing: 0.04em;
  color: #fff;
}

// main {
//   background-image: url('../images/tablet/gallery_background1x.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
//   animation: none;
// }

.container {
  width: 100%;
  padding-left: 36px;
  padding-right: 36px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
    width: 1920px;
  }
}
