<!-- section>div.container>(div>h3+button)+div>ul>(li>a>(div>(picture>(source*6+img))+(div>p+h3+p+button>svg>use))+div>h2+p)*3 -->
<section>
    <div class="container">
        <div>
            <h3></h3>
            <button>View all articles</button>
        </div>
        <div>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <picture>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <img src="images/logo.png" alt="" width="80" height="40">
                            </picture>
                            <div>
                                <p></p>
                                <h3></h3>
                                <p></p>
                                <button> Learn more
                                    <svg aria-lable="icon_open" width="20" height="20">
                                        <use></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <h2></h2>
                            <p></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <picture>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <img src="images/logo.png" alt="" width="80" height="40">
                            </picture>
                            <div>
                                <p></p>
                                <h3></h3>
                                <p></p>
                                <button> Learn more
                                    <svg aria-lable="icon_open" width="20" height="20">
                                        <use></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <h2></h2>
                            <p></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <picture>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <source>
                                <img src="images/logo.png" alt="" width="80" height="40">
                            </picture>
                            <div>
                                <p></p>
                                <h3></h3>
                                <p></p>
                                <button> Learn more
                                    <svg aria-lable="icon_open" width="20" height="20">
                                        <use></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <h2></h2>
                            <p></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>