<!-- section>div>p+h2+p -->
<section>
    <div class="container">
        <p>Our expertise</p>
        <h2>"The best apartment in Dubai" we will find your dream</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus nulla quod sit minus veniam qui modi rem
            dolor ut esse quas inventore unde, dolores molestiae. Officia cupiditate qui autem quam laboriosam, tenetur
            repellat at eaque ut ex voluptatem harum atque culpa dignissimos, explicabo facilis, quae ipsam doloremque!
            Porro, ut nam facilis veritatis excepturi nobis ullam neque praesentium! Iure, architecto quos magnam cum
            nisi totam, earum voluptas laboriosam sed accusantium, adipisci iste ipsum optio! Accusantium, eius odit non
            quis voluptatibus eos ex adipisci perferendis quia neque quo quam rem cupiditate itaque in quod! Provident
            incidunt molestias, accusantium rerum cupiditate, omnis officia dicta ducimus vitae minima facere sequi hic
            beatae, numquam ratione harum obcaecati aut.</p>
    </div>
</section>