<header  class="">
    <div class="container" >
        <a lang="en" class="" href="./index.html">
            <span class="">DubaiRealty</span>
            <span class="">Real Estate</span>
        </a>
        <nav class="">
            <ul class="">
                <li class=""><a href="/portfolio">Buy</a></li>
                <li  class=""><a href="/blog">Blog</a></li>
                <li  class=""><a href="/about">About</a></li>
                <li  class=""><a href="/contact">Contact</a></li>

            </ul>
        </nav>
        <button  class="">Book a consultation</button>
        <ul  class="">
            <li  class="">en</li>
            <li  class="">ua</li>
        </ul>
        <p>+7 (212) 674-25-10</p>
    </div>
</header>