<header class="container">
    <div class="header">
        <div class="logo">
            <div class="logo__border">
                <a lang="en" class="logo__text" href="./index.html">
                    <p class="logo__name">DubaiRealty</p>
                    <p class="logo__sign">Real Estate</p>
                </a>
            </div>
        </div>


        </a>
        <nav class="nav">
            <ul class="page-nav">
                <li class=""><a href="/portfolio">Buy</a></li>
                <li class=""><a href="/blog">Blog</a></li>
                <li class=""><a href="/about">About</a></li>
                <li class=""><a href="/contact">Contact</a></li>

            </ul>
        </nav>
        <button type="button" class="header__buttom">Book a consultation</button>
        <ul class="page-language">
            <li class="">en</li>
            <li class="">ua</li>
        </ul>
        <p>+7 (212) 674-25-10</p>
    </div>
</header>