<section class="">
    <div class="container hero">
        <ul class="hero-social-list">
            <li>facebook
                <a href="">
                    <svg aria-lable="icon_facebook" class="social-list__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>twitter
                <a href="">
                    <svg aria-lable="icon_twitter" class="social-list__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>youtube
                <a href="">
                    <svg aria-lable="icon_youtube" class="social-list__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>instagram
                <a href="">
                    <svg aria-lable="icon_instagram" class="social-list__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>linkedin
                <a href="">
                    <svg aria-lable="icon_linkedin" class="social-list__icon">
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="hero-case">
            <div class="hero-case__border">
                <a lang="en" class="hero-case__text" href="./index.html">
                    <p class="hero-case__sign">Lorem ipsum</p>
                    <h1 class="hero-case__hello">Welcome home to luxury</h1>
                    <button class="button hero-case__button" type="button" data-modal-open>Book a consultation</button>
                </a>
            </div>
        </div>

        <!-- ul>(li>(div>h3)+p)*3 -->
        <ul class="advantages-list">
            <li class="advantages-list__box">
                <div>
                    <h3 class="advantages-list__title">01</h3>
                </div>
                <p class="advantages-list__text">Lorem Ipsum
                    Dolorem apset</p>
            </li>
            <li class="advantages-list__box">
                <div>
                    <h3 class="advantages-list__title">02</h3>
                </div>
                <p class="advantages-list__text">Lorem Ipsum
                    Dolorem apset</p>
            </li>
            <li class="advantages-list__box">
                <div>
                    <h3 class="advantages-list__title">03</h3>
                </div>
                <p class="advantages-list__text">Lorem Ipsum
                    Dolorem apset</p>
            </li>
        </ul>
    </div>
</section>